# version from Releases page (https://github.com/AikidoSec/safe-chain/releases) of "AikidoSec/safe-chain" GitHub repo
safe-chain-version=x.y.z
# hash of `install-safe-chain.sh` file that's copy-pasted from release on the Releases page
install-safe-chain-dot-sh-hash=sha256:..
# hash of `uninstall-safe-chain.sh` file that's copy-pasted from release on the Releases page
uninstall-safe-chain-dot-sh-hash=sha256:..
